/* Importing fonts to be used throughout the page */

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid&display=swap');

body {
    background-color: green;
    font-family: 'Lato', sans-serif;
    background-image: url("/assets/img/background/felt.png");
    background-blend-mode: multiply;
}

.dealer-area, .computer-player, .human-player {
    padding: 3px;
    margin: 0;
}

.dealer-area {
    margin: 10px 0 10px 0;
}

#quick-bets {
    padding: 0;
}

#quick-bets li{
    display: inline-block;
    margin: auto 15px;
    cursor: pointer;
    text-decoration: none;
    font-weight: 800;
}

.human-cards, .computer-cards {
    text-align: center;
    margin: 0;
    padding: 0;
    height: 100%;
}

.center {
    text-align: center;
}

#center {
    margin: 0;
    padding: 0;
}

#center a {
    color: white;
}

.options-area {
    text-align: center;
    border: 1px dotted gold;
    border-radius: 15px;
    padding: 30px 5px;
    font-weight: 700;
}

.game-button {
    font-size: 1.5rem;
    font-family: 'Londrina Solid', sans-serif;
    margin: 10px;
}

.betting-button {
    font-weight: 900;
}

.score {
    font-size: 3rem;
}

.black-jack {
    font-size: 2rem;
    font-weight: 900;
    color: red;
}

.score-display {
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    align-items: center;
    border: 1px dotted gold;
    border-radius: 15px;
    padding: 0;
    font-family: 'Londrina Solid', sans-serif;
}

.score-bets {
    font-family: 'Londrina Solid', sans-serif;
    font-size: 2rem;
}

.menu-buttons {
    text-align: center;
}


img {
    display: block;
    max-width: 100%;
    padding: 1px;
}

#overlay {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 27, 0, 0.9);
    z-index: 10000;
    backdrop-filter: blur(5px);
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.main-menu-title {
    text-align: center;
    font-family: 'Londrina Solid', sans-serif;
    font-size: 5rem;
    color: red;
}

.player-name-input {
    color: white;
    text-align: center;
    margin: 10px;
    text-decoration: underline;
}

.play-game-button {
    text-align: center;
    align-items: center;
    margin: 10px;
}

.main-menu {
    color: white;
}

.main-menu-stats {
    text-align: center;
}

.difficulty-container {
    text-align: center;
}

.difficulty-container p {
    color: white;
    text-decoration: underline;
}

#difficulty-display, #sound-display {
    color: white;
    margin-left: 10px;
}

/* CSS code for slider button taken from W3Schools at https://www.w3schools.com/howto/howto_css_switch.asp */
/* -------------- CODE STARTS HERE --------------- */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }


  /* --------------- CODE FROM W3SCHOOLS ENDS HERE---------------- */




  /* Adding media query to display correctly on small screens */


@media only screen and (max-width: 576px) {

    .game-button {
    font-size: 1rem;
    }
    .score {
    font-size: 1.5rem;
    }

    .options-area {
    padding: 5px;
    }
    .score-display {
        font-size: 1rem;
        font-weight: 500;
    }

    .dealer-area {
        margin: 0;
    }

    .score-bets {
        font-family: 'Londrina Solid', sans-serif;
        font-size: 1.2rem;
    }

    .score-bets p {
        margin-bottom: 5px;
    }  

    .black-jack {
        font-size: 1rem;
        font-weight: 900;
        color: red;
    }

    .main-menu-title {
        font-size: 4rem;
        color: red;
    }
}

/* Adding media query to display correctly on high width / low height screens */

@media only screen and (min-width: 1000px) and (max-width: 1920px) and (max-height: 1080px) {
    .card-display {
        height: 20vh;
        padding: 0;
        margin: 0;
    }

    .human-cards img, .computer-cards img {
        height: 100%;
    }


}