@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid&display=swap');

body {
    background-color: green;
    font-family: 'Lato', sans-serif;
    background-image: url("/assets/img/background/felt.png");
    background-blend-mode: multiply;

}

.dealer-area, .computer-player, .human-player {
    /* border: 1px solid black; */
    padding: 3px;
    margin: 0;


}

#quick-bets {
    padding: 0;
}

#quick-bets li{
    display: inline-block;
    margin: auto 15px;
    cursor: pointer;
    text-decoration: none;
    font-weight: 800;
}


.human-cards, .computer-cards {
    text-align: center;
    margin: 0;
    padding: 0;
    height: 100%;
}

.center {
    text-align: center;
}

.options-area {
    text-align: center;
    border: 1px dotted gold;
    border-radius: 15px;
    padding: 30px 5px;
    font-weight: 700;

}

.game-button {
    font-size: 1.5rem;
    font-family: 'Londrina Solid', sans-serif;
    margin: 10px;
}

.betting-button {
    font-weight: 900;
}

#human-score, #computer-score {
    font-size: large;
}

.score-display {
    font-size: large;
    font-weight: 700;
    text-align: center;
    align-items: center;
    border: 1px dotted gold;
    border-radius: 15px;
    padding: 0;
    

}

.menu-buttons {
    text-align: center;
}


img {
    display: block;
    max-height: auto;
    max-width: 100%;
    padding: 1px;
}

#overlay {
    width: 100vw;
    height: 100vh;
    background-color: rgba(000, 000, 000, 0.3);
    z-index: 10000;
}

@media only screen and (max-width: 576px) {

    .game-button {
font-size: 1rem;

    }


    .options-area {
        padding: 20px;

    }


}