@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
    background-color: green;
    font-family: 'Lato', sans-serif;
}

#testHTML {
    height: 100px;
    max-width: 100px;
    background-color: beige;
}

#game-area {
    height: 100vh;
}

#side-menu, #play-area {
    border: 1px solid black;
}

.dealer-area {
    border: 1px solid black;
    height: 33%;
}

.human-cards, .computer-cards {
    border: 1px dashed gold;
    text-align: center;
    margin: auto;
}

.options-area {
    text-align: center;
}

#human-score, #computer-score {
    font-size: large;
}

.score-display {
    font-size: large;
    text-align: center;
}

.menu-buttons {
    margin-top: 50%;
    text-align: center;
}

.btn {
    margin: 10px;
    width: 150px;
}

img {
    display: block;
    max-width: 90%;
    height: auto;
    padding: 0px;
    margin: auto;
}